@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image:url('https://img.freepik.com/free-photo/anime-flat-building-illustration_23-2151150997.jpg?t=st=1726479371~exp=1726482971~hmac=2fe2f10fe0d9e4bdce05d7e9dbf12e0b036ef4cbbb8786f08f0f76844a8f3f6b&w=360');
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  opacity:1;
  margin: 0;
  padding: 0;
}

.form-container{
  text-align:center;
  opacity:0.9;
  width:100%;
  height:100%;
  margin:0;
  padding:10px;
  color:#fff;
}
#survey-form {
  text-align:left;
  background-color: #fff;
  opacity:2;
  padding: 50px;
  margin: 40px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#description{
  font-style:italic;
}
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #6a5acd; 
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #6a5acd; 
  font-family: inherit;
  border-radius: 10px;
  background-color: #FFFFFF;
}

select{
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #6a5acd; 
  font-family: inherit;
  border-radius: 10px;
  color:#f8554e;
  background-color: #fff;  
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #f8554e; 
}


input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  cursor: pointer;
  line-height: 30px;
  position: relative;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #6a5acd; 
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

input[type="checkbox"] + label:before {
  border-radius: 5px;
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
  background-color: #6a5acd; 
}

input[type="submit"] {
  background-color: #6a5acd;
  color: #FFFFFF;
  padding: 10px 20px;
  border: 3px solid #6a5acd;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: medium;
}

input[type="submit"]:hover {
  background-color: #f8554e; 
  color: #fff; 
  border: 3px solid #f8554e;
  font-weight: 800;
  font-size: medium;
}






